@import './0-bases/base-dir'

$colourOne: #ffcc4c

.container
  border: 5px solid $colourOne
  display: flex
  flex-wrap: wrap

.container > div
  width: 800px

.item__one
  order: 1

.item__two
  order: 0

.item__three
  order: 2

@media all and (max-width: 600px)
  .container
    flex-wrap: nowrap
